[Unit]
Description=Daily Strava import (AC only)
ConditionACPower=true

[Timer]
OnCalendar=*-*-* 21:00:00
Persistent=true
OnBootSec=5min

[Install]
WantedBy=timers.target
